<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Annie CV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
.dd{
font-size: 20pt;
}
</style>
</head>
  <body>


<div class="col-md-12" style="text-align:center">
  <a href="#div0"><button type="button" class="btn btn-secondary">About me</button></a>
  <a href="#div1"><button type="button" class="btn btn-secondary">Objectives</button></a>
  <a href="#div2"><button type="button" class="btn btn-secondary">Education and Experience</button></a>
  <a href="#div3"><button type="button" class="btn btn-secondary">Skill & Competencies</button></a>
</div>


    
    <div class="jumbotron">
      <div class="container">
        <h2 style="padding:10px">Welcome to My CV</h2>
        
        <div id="div0"><h3 style="padding:10px">Personal information</h3></div>
        <dl class="row" style="background-color: #FFDEAD">
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9"><p style="font-size: 15pt">WU, HSIN-YUAN 吳心媛</p></dd>
        
          <dt class="col-sm-3">Phone Number</dt>
          <dd class="col-sm-9">
            <p>+886-908660496</p>
          </dd>
        
          <dt class="col-sm-3">E-mail</dt>
          <dd class="col-sm-9"><p>wu88059@gmail.com</p></dd>
        
          <dt class="col-sm-3 text-truncate">Address</dt>
          <dd class="col-sm-9"><p style="font-size: 13pt">1F., No. 30, Ln. 186, Xingyi Rd., Beitou Dist., Taipei City 112, Taiwan (R.O.C.)</p></dd>
        
        </dl>
        <div id="div1"><h3 style="padding:10px">Objectives</h3></div>
        <dd class="col-sm-12">
          <dl class="row" style="background-color: #FFDEAD">
            <dd class="col-sm-2"><p style="font-size: 13pt">Marcom</p></dd>
            <dd class="col-sm-2"><p style="font-size: 13pt">Programming</p></dd>
            <dd class="col-sm-3"><p style="font-size: 13pt">Project manager</p></dd>
            <dd class="col-sm-3"><p style="font-size: 13pt">Front/UI-Engineer</p></dd>
          </dl>
        </dd>

        <div id="div2"><h3 style="padding:10px">Education</h3></div>
        <dd class="col-sm-12" style="background-color: #FFDEAD">
          <p>Tunghai University- Computer Science department</p>
        </dd>

        <div ><h3 style="padding:10px">Experience</h3></div>
        <dd class="col-sm-12" style="background-color: #FFDEAD">
          <p>Tunghai University- Computer Science department</p>
        </dd>

        <div id="div3"><h3 style="padding:10px">Skill&Competencies</h3></div>
        <dd class="col-sm-12" style="background-color: #FFDEAD">
          <p>Tunghai University- Computer Science department</p>
        </dd>
      </div>
    </div>
</body>
</html>