<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Navigation Bar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> <!--匯入bootstrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><!--匯入jQuery-->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script><!--匯入bootstrap javascript-->
  </head>
  <body>
    <ul class="nav nav-tabs">
        <li><a href="#">Home</a></li>
        <li><a href="/home/aboutme.html">About me</a></li>
        <li><a href="/home/ob.html">Objectives</a></li>
        <li><a href="/home/e&e.html">Education and Experience</a></li>
        <li class="active"><a href="/home/s&c.html">Skill & Competencies</a></li>
    </ul>
</body>
</html>